<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crowd.ssm.user.dao.IRoleDao">
    <resultMap id="roleMapp" type="com.crowd.ssm.user.service.bo.Role">
        <id property="roleId" column="role_id"></id>
        <result property="userId" column="user_id"></result>
        <result property="roleName" column="role_name"></result>
    </resultMap>
    <select id="findAllRole" resultMap="roleMapp">
        select role_id,role_name from role
    </select>
    <insert id="saveRole">
        insert into role(role_id,role_name) values (#{roleId},#{roleName})
    </insert>
    <delete id="delRole" parameterType="Integer">
        delete from role where role_id=#{roleId}
    </delete>


    <select id="findUserRole" resultMap="roleMapp">
      select r.role_id,role_name from user_role ur LEFT JOIN role r on ur.role_id=r.role_id where user_id=#{userId}
    </select>

<!--    <select id="findUserNoRole" resultMap="roleMapp">-->
<!--      select role_id,role_name from role-->
<!--      <where>-->
<!--          <if test="roleId != null">-->
<!--                role_id not in-->
<!--                <foreach collection="list"  item="item"  open="("-->
<!--                   separator="," close=")">-->
<!--              #{item.roleId}-->
<!--          </foreach>-->
<!--          </if>-->
<!--      </where>-->
<!--    </select>-->
    <select id="findUserNoRole" resultMap="roleMapp">
        select role_id,role_name
         from role
       </select>
    <delete id="delUserRole">
        delete from user_role where  user_id=#{userId} and role_id=#{roleId}
    </delete>
    <insert id="addUserRole">
        insert into user_role(role_id,user_id) values (#{roleId},#{userId})
    </insert>
</mapper>